$breakpoint-mobile: 480px;
@media (max-width: $breakpoint-mobile) {
  .container {
    width: 100%;
  }

  .logo2 {
    display: none;
    width: 1px;
  }

  .nav {
    justify-content: center;
    font-size: 10px;
    padding: 0;
    li {
      padding: 0;
    }
  }

  .main {
    width: 100%;
    height: auto;

    .box {
      flex-direction: column;
      height: 800px;
    }
    .box-3 {
      height: 5000px;
    }
  }

  #hidden {
    display: none;
  }

  .footer {
    width: 100%;
    height: 200px;
    background-color: $black;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
